<div class="card border-success mb-3">
  <div class="card-img-wrapper">
    <img src="{{member.profilePicture ||'./assets/user.png'}}"
         alt="{{member.knownAs}}"
         class="card-img-top">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item"><button type="button"
                class="btn btn-info"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="编辑"
                routerLink='/members/{{member.username}}'>
          <i class="fas fa-user-edit"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-info"
                routerLink='/members/{{member.username}}'
                [queryParams]='{tab:2}'>
          <i class="fa fa-envelope"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-info">
          <i *ngIf="lockoutEnd"
             class="fas fa-sign-out-alt"
             data-bs-toggle="tooltip"
             data-bs-placement="bottom"
             title="已离职"></i>
        </button></li>
      <li class="list-inline-item"><button class="btn btn-info">
          <i *ngIf="!beOnLeaveEnd"
             class="far fa-id-badge"></i>
          <i *ngIf="beOnLeaveEnd"
             class="fas fa-plane-departure"
             data-bs-toggle="tooltip"
             data-bs-placement="bottom"
             title="休假中"></i> </button></li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1"><i class="fa fa-user mr-2"></i>
      {{member.knownAs}}, {{member.age}}，{{member.gender}}
    </h6>
    <p class="card-text text-muted text-center">{{member.city}}</p>
  </div>
</div>
