<header class="navbar sticky-top navbar-light bg-light flex-md-nowrap p-0 shadow">
  <div class="float-start row">
    <div class="col align-self-center ms-3 pe-1"
         style="cursor: pointer;">
      <span class="material-icons pt-2">
        reorder
      </span>
    </div>
    <div class="col ps-0">
      <img src="../../assets/images/logo.png"
           style="max-height: 56px; cursor: pointer;"
           alt="logo"
           routerLink='/'
           routerLinkActive='active'>
    </div>
  </div>

  
  <!--  <input class="form-control form-control-dark w-50  justify-content-start"
         type="text"
         placeholder="Search Product"
         aria-label="Search">

   <div class="navbar-nav pe-4" *ngIf="(accountService.currentUser$ | async)===null">
    <div class="nav-item text-nowrap">
      <a class="nav-link" routerLink="login">Login</a>
    </div>
  </div> -->

  <div class="nav-item pe-2"
       *ngIf="(accountService.currentUser$ | async) as user">
    <a class="nav-link text-mute"
       data-bs-toggle="dropdown"
       aria-expanded="false">
      <img src="{{user.profilePicture || './assets/images/user.png'}}"
           style="max-height: 39px; border-radius: 50%;"> <span class="ms-1"
            style="color: grey;">{{user.name | titlecase}}</span>
      <!--uppercase lowercase  titlecase-->
    </a>

    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item"
           routerLink='/member/edit'>编辑档案</a></li>
      <li><a class="dropdown-item"
           href="#">Menu item</a></li>
      <li><a class="dropdown-item"
           routerLink="/"
           (click)="logout()">Logout</a></li>
    </ul>
  </div>

</header>
