<div class="card mb-4  sticky-top">
  <div class="card-img-wrapper mx-auto">
    <img src="{{imageUrl}}/content/cas/{{product.casNo}}.png"
         class="m-3 p-3 "
         style="object-fit: auto; "
         alt="{{product.casNo}}">
  </div>
  <div>
    <div class="card-body">
      <h2 class="card-title"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="CAS Number 点击-产品信息"
          routerLink='{{product.casNo}}'>{{product.casNo}}<span
              class="badge rounded-pill bg-secondary float-end fw-light">{{product.productCode}}</span></h2>
      <p class="card-text text-muted ">{{product.productNameCN}}</p>
      <p class="card-text text-muted">{{product.productName}}</p>
      <!-- <li class="list-inline-item"><button class="btn btn-success"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="产品信息"
                routerLink="{{product.casNo}}">
          <i class="fas fa-file-alt"></i></button></li>
      <li class="list-inline-item">

        <button class="btn btn-success"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="编辑"
                routerLink="edit/{{product.casNo}}">
          <i class="fas fa-edit"
             style="max-width: 13px;"></i></button>
      </li>
      <li class="list-inline-item">
        <swal #deleteRecord
              title="需要删除记录吗?"
              text="删除不可逆转，请确认！"
              icon="question"
              [showCancelButton]="true"
              [focusCancel]="true"
              (confirm)="removeProduct(product.id)">
        </swal>
        <button class="btn btn-success "
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="删除"
                (click)="deleteRecord.fire()">
          <i class="far fa-trash-alt"></i></button>
      </li>
      <li class="list-inline-item "><button class="btn btn-success"
                style="padding-left: 14px; padding-right: 20px;"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="库存">
          <i class="fas fa-warehouse"
             style="max-width: 13px;"></i></button></li> -->
    </div>
  </div>

</div>
