<div class="card-body">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h2 class="card-title"
        *ngIf="getCategoryFirst">{{getCategoryFirst.nameCh}} </h2>
    <div class="btn-toolbar pb-2 mb-md-0">
      <button type="button"
              class="btn btn-sm btn-outline-secondary"
              (click)="addSecond()">
        <i class="bi bi-plus"></i>
        <span class="ms-1">增加产品次类别</span>
      </button>
    </div>
  </div>

  <app-category-second-add *ngIf="!isEdit"
                           [getCategoryFirst]="getCategoryFirst"
                           [isAddSecond]="isAddSecond"></app-category-second-add>

  <app-category-second-edit *ngIf="isEdit"
                            [categorySecondForEdit]="categorySecond"
                            [isEdit]="isEdit"></app-category-second-edit>

  <ul class="list-group list-group-flush"
      *ngFor="let categorySecond of categorySeconds">
    <li class="list-group-item border-bottom">{{categorySecond.nameCh}} || {{categorySecond.nameEn}}
      <i class="bi bi-pen float-end"
         type="button"
         title="修改"
         (click)="onEdit(categorySecond)"></i>
      <!-- [routerLink]="['../Category/Second/',categorySecond.id,{'isEdit':true}]" -->
    </li>
  </ul>

</div>
