<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">产品列表</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button"
            class="btn btn-sm btn-outline-secondary"
            data-bs-toggle="modal"
            data-bs-target="#addProductModal">
      <i class="bi bi-plus"></i>
      <span class="ms-1">增加产品</span>
    </button>
  </div>
</div>

<div class="row mb-3">
  <!-- style="position: relative; z-index: -1;"
  <div *ngFor="let product of products$ | async | paginate:{
    itemsPerPage: itemsPerPage,
    currentPage: currentPage} "
       class="col-12 col-sm-6 col-lg-4 col-xxl-3">-->
  <div *ngFor="let product of products$ | async | paginate:{
            itemsPerPage: itemsPerPage,
            currentPage: currentPage,
          totalItems: count} "
       class="col-12 col-sm-6 col-lg-4 col-xxl-3">
    <app-product-card [product]="product"
                      *ngIf="product"></app-product-card>

  </div>

</div>
<div class="container mb-5">
  <div class="row justify-content-center"
       style="text-align: center; ">

    <pagination-controls (pageChange)="pageChanged($event)"
                         (pageBoundsCorrection)="pageChanged($event)"
                         previousLabel="Prev"
                         nextLabel="Next"
                         [responsive]="true"
                         class="col align-items-center">
    </pagination-controls>

    <div class="col-4 align-items-center pageSelect ">
      <select (change)="onPageItemsChange($event)"
              class="w-100"
              style="height: 30px; margin: 0 10px; padding: 0 10px;">
        <option *ngFor="let item of perPageItems"
                [ngValue]="item">
          {{ item }}
        </option>
      </select>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade mt-5 pt-5"
     id="addProductModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"
            id="addProductModal">增加产品</h3>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <app-product-add></app-product-add>
    </div>
  </div>
</div>
