<div class="row  ">
  <div class="mb-4 col-sm-8 col-md-9 col-lg-10">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">南京科朗医药化工有限公司参数配置 · 公司列表</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button"
                class="btn btn-sm btn-outline-secondary"
                (click)="addOurCompany()">
          <i class="bi bi-plus"></i>
          <span class="ms-1">新增公司</span>
          <!-- [routerLink]='["/settinghome/company",add]' (click)="addOurCompany()"-->
        </button>
      </div>
    </div>
    <table style="word-break:break-all; word-wrap:break-all;"
           class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">业务特征</th>
          <th scope="col">公司名称 *</th>
          <th scope="col">税务登记号</th>
          <th scope="col">开户行 *</th>
          <th scope="col">银行账号 *</th>
          <th scope="col">注册资本</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of ourCompanies$ | async">
          <th scope="row"
              style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">{{company.serviceFeature}}</th>
          <td>{{company.companyName}}</td>
          <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">{{company.taxNumber}}</td>
          <td>{{company.bankName}}</td>
          <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">{{company.bankAccount}}</td>
          <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">{{company.registeredCapital |
            number}}</td>
          <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
            <i class="bi bi-book me-2"
               type="button"
               (click)="detailOurCompany()"></i>
            <i class="bi bi-pen"
               type="button"
               (click)="editOurCompany()"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



  <div class="col-sm-4 col-md-3 col-lg-2 border-start">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap row mb-5 pb-5 ">
      <app-setting-sidebar></app-setting-sidebar>
    </div>
  </div>
</div>
