<nav class="position-sticky mb-4">
  <h2 class="text-center">目录</h2>
  <ul class="list-group list-group-flush ps-3">
    <li class="list-group-item  mt-1 fs-6 nav-link text-dark"
        type="button"
        routerLink="/webdesign"
        routerLinkActive="bg-grey text-white"
        *ngIf="!production">网站设计笔记</li>
    <li class="list-group-item  mt-1 fs-6 nav-link text-dark"
        type="button"
        routerLink="/product-category"
        routerLinkActive="bg-grey text-white">产品类别</li>
    <li class="list-group-item  mt-1 fs-6 nav-link text-dark"
        type="button"
        routerLink="/ourcompany"
        routerLinkActive="bg-grey text-white">公司注册信息</li>
    <li class="list-group-item  mt-1 fs-6 nav-link text-dark"
        type="button"
        routerLink="/vicolor"
        routerLinkActive="bg-grey text-white">VI 配色</li>
    <li class="list-group-item  mt-1 fs-6 nav-link text-dark"
        type="button"
        routerLink="/products/33155-90-7"
        routerLinkActive="bg-grey text-white">采购列表</li>
    <li class="list-group-item  mt-1 fs-6 nav-link text-dark"
        type="button"
        routerLink="/products/534-85-0"
        routerLinkActive="bg-grey text-white">销售列表</li>
    <li class="list-group-item  mt-1 fs-6 nav-link text-dark"
        type="button"
        routerLink="/products/589-87-7"
        routerLinkActive="bg-grey text-white">供应商列表</li>
    <li class="list-group-item  mt-1 fs-6 nav-link text-dark"
        type="button"
        routerLink="/products/4926-55-0"
        routerLinkActive="bg-grey text-white">市场报告</li>
  </ul>
  <hr>
</nav>
