<ng-container *ngIf="product">
  <div class="card-img card-img-wrapper w-100">
    <img src="{{productImg}}"
         style="display: table-cell; object-fit: auto; margin: 0 auto; padding: 26px;"
         alt="{{product.casNo}}">
  </div>
  <div>
    <div class="card-body">
      <h2 class="card-title">{{product.casNo}} <span
              class="badge rounded-pill bg-secondary float-end fw-light text-white">{{product.productCode}}</span>
      </h2>
      <p class="card-text text-muted ">{{product.productNameCN}}</p>
      <p class="card-text text-muted">{{product.productName}}</p>


      <li class="list-inline-item">
        <button class="btn btn-secondary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="编辑"
                routerLink="../edit/{{product.id}}">
          <i class="fas fa-edit text-white"
             style="max-width: 13px; "></i></button>
      </li>
      <li class="list-inline-item">
        <swal #deleteRecord
              title="需要删除记录吗?"
              text="删除不可逆转，请确认！"
              icon="question"
              [showCancelButton]="true"
              [focusCancel]="true"
              (confirm)="removeProduct(product.id)">
        </swal>
        <button class="btn btn-secondary "
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="删除"
                (click)="deleteRecord.fire()">
          <i class="far fa-trash-alt text-white"></i></button>
      </li>
      <li class="list-inline-item "><button class="btn btn-secondary"
                style="padding-right: 16px; padding-left: 10px;"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="库存">
          <i class="fas fa-warehouse text-white"
             style="max-width: 13px;"></i></button></li>
    </div>
  </div>

</ng-container>
