<form>
  <div class="form-group">
    <label for="addproduct">增加产品</label>
    <select id="addproduct"
            class="form-control"></select>
  </div>
  <div class="form-group">
    <label for="productfirst">产品类别</label>
    <select id="productfirst"
            class="form-control"></select>
  </div>

  <!-- <div class="form-group">
    <div>{{product.productName}}</div>
    <label class="col-form-label mt-4"
           for="inputDefault">CAS No </label>
            <input [(ngModel)]="product.productName"
           class="form-control"
           placeholder="Input Cas No">
  </div> -->

</form>
