<div class="container mb-5">
  <table class="table table-hover"
         datatable
         [dtOptions]="dtOptions"
         *ngIf="designRecords">
    <thead>
      <tr>
        <th scope="col">Folder</th>
        <th scope="col">Component Name</th>
        <th scope="col">Title</th>
        <th scope="col">CRUD状态</th>
        <th scope="col">修改时间</th>

        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of designRecords">
        <th scope="row"
            style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">{{record.folderName}}</th>
        <!-- <td>{{record.componentFolder}}</td> -->
        <td class="link"
            data-bs-toggle="modal"
            attr.data-bs-target="#designModal{{record.id}}">{{record.componentName}}</td>
        <td class="link"
            title="详细内容"
            data-bs-toggle="modal"
            attr.data-bs-target="#designModal{{record.id}}">
          {{record.title | slice:0:20}}
          <!-- <div [innerHTML]="record.progressAndProblem | slice:0:20"></div> -->
        </td>
        <td>{{record.crudState}}</td>
        <td data-bs-content="完成">{{record.updateDay | timeago }}</td>

        <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">

          <div class="form-check form-switch">
            <input (change)="isChecked(record.id)"
                   class="form-check-input link me-3"
                   type="checkbox"
                   title="完成"
                   [checked]="record.finished">

            <label class="form-check-label">
              <i (click)="isAttention(record.id)"
                 class="fas fa-exclamation-triangle text-danger"
                 type="button"
                 title="需要修改"
                 *ngIf="record.payAttention"></i>

              <i (click)="isAttention(record.id)"
                 class="bi bi-check-lg"
                 type="button"
                 title="不需要修改"
                 *ngIf="!record.payAttention"></i>

              <i class="bi bi-pen ms-3"
                 type="button"
                 title="修改"
                 [routerLink]="['../designrecord/',record.id,{'isEdit':true}]"></i>
              <i class="bi bi-book  ms-3"
                 type="button"
                 title="详细内容"
                 [routerLink]="['../designrecord/',record.id]"></i>
            </label>
          </div>

        </td>

        <!-- Modal -->
        <div class="modal fade"
             id="designModal{{record.id}}"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable  modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLabel">{{record.componentName}}</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div [innerHTML]="record.progressAndProblem | html"></div>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                <button type="button"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                        [routerLink]="['../designrecord/',record.id,{'isEdit':true}]">Edit</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal End-->

      </tr>
    </tbody>
  </table>
</div>
