<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Folder</th>
      <!-- <th scope="col">Component Folder</th> -->
      <th scope="col">Component Name</th>
      <th scope="col">CRUD状态</th>
      <th scope="col">修改时间</th>

      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of designRecords;let i=index">
      <th scope="row"
          style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">{{record.folderName}}</th>
      <!-- <td>{{record.componentFolder}}</td> -->
      <td>{{record.componentName}}</td>
      <!-- <td>
        <div [innerHTML]="record.progressAndProblem"></div>
      </td> -->
      <td>{{record.crudState}}</td>
      <td>{{record.updateDay | timeago }}</td>

      <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">

        <div class="form-check form-switch">
          <input class="form-check-input"
                 type="checkbox"
                 value="">
          <label class="form-check-label"
                 for="flexSwitchCheckDefault">
            <i class="bi bi-book  ms-1 me-2"
               type="button"
               [routerLink]="['../designrecord/',record.id]"></i>
            <i class="bi bi-pen"
               type="button"
               [routerLink]="['../designrecord/',record.id]"></i>
          </label>
        </div>

      </td>


    </tr>
  </tbody>
</table>
