<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">新增网站设计笔记</h1>

</div>

<div class=" container mb-5">
  <div class=" row">

    <form [formGroup]='addGroupForm'
          (ngSubmit)="addGroupForm.valid && onSaveForm()"
          autocomplete="off">
      <div class="form-floating justify-content-between row">
        <div class="form-floating mb-1 col-3">
          <select class="form-select ps-3"
                  [class.is-invalid]='addGroupForm.get("folderName").errors && addGroupForm.get("folderName").touched'
                  [class.is-valid]='!addGroupForm.get("folderName").errors && !addGroupForm.get("folderName").untouched'
                  id="folderNameSelect"
                  formControlName='folderName'
                  placeholder="Folder Name"
                  required>
            <option *ngFor="let folderName of folderNames"
                    [value]="folderName">{{folderName}}</option>
          </select>
          <label for="folderNameSelect"
                 class="ps-3">Folder Name</label>
          <div *ngIf="addGroupForm.get('folderName').hasError('required')"
               class="invalid-feedback ps-3">
            不能为空，请选择</div>
        </div>

        <app-text-input [formControl]='$any(addGroupForm.controls["componentName"])'
                        [label]='"Component Name"'
                        class="col-6"></app-text-input>

        <div class="form-floating mb-1 col-3">
          <select class="form-select"
                  [class.is-invalid]='addGroupForm.get("crudState").errors && addGroupForm.get("crudState").touched'
                  [class.is-valid]='!addGroupForm.get("crudState").errors && !addGroupForm.get("crudState").untouched'
                  id="crud"
                  formControlName='crudState'>
            <option *ngFor="let record of crudRecords"
                    [value]="record">{{record}}</option>
          </select>
          <label for="crud"
                 class="ps-3">CRUD State</label>
          <div *ngIf="addGroupForm.get('crudState').hasError('required')"
               class="invalid-feedback ps-3">
            不能为空，请选择</div>
        </div>

      </div>
      <!-- <app-text-input [formControl]='$any(addGroupForm.controls["progressAndProblem"])'
                      [label]='"进程和存在的问题"'></app-text-input> -->

      <!-- <angular-editor formControlName="progressAndProblem"
                      config="editorConfig"></angular-editor> -->

      <div class="form-floating mb-1">
        <div class="ps-2">
          Progress And Problem
          <span class="text-danger">*</span>
        </div>
        <!-- <div>
          <ngx-editor-menu [editor]="editor"
                           [toolbar]="toolbar"> </ngx-editor-menu>
          <ngx-editor [editor]="editor"
                      formControlName="progressAndProblem"></ngx-editor>
        </div> -->
        <div class="form-floating">
          <editor [init]=editParam
                  formControlName="progressAndProblem"></editor>

          <div class="float-end mt-2">
            <button type="submit"
                    class="btn btn-primary pt-2 pb-2 me-2"
                    [disabled]="addGroupForm.invalid">增加</button>
            <button type="button"
                    class="btn btn-danger pt-2 pb-2 me-2"
                    (click)="cancel()">重置</button>
            <button type="button"
                    class="btn btn-secondary pt-2 pb-2"
                    (click)="goBack()">Back</button>

          </div>
        </div>
      </div>

    </form>
  </div>
</div>
