<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">管理角色</h1>
</div>
<div class="row">
  <ol *ngFor="let role of roles"
      class="list-group  col-4">
    <li class="list-group-item d-flex justify-content-between align-items-start mb-1 w-100">
      <div class="ms-2 me-auto w-100">

        <div class="row w-100">
          <div class="fw-bold col-11 ">
            <span class="badge bg-primary rounded-pill">{{role.identityId}}</span> {{role.name}}
          </div>
          <i class="far fa-trash-alt text-danger col-1"
             (click)="deleteRole(role.id)"></i>
        </div>

        <div> {{role.statement}}</div>

      </div>
    </li>
  </ol>

  <div class="footer mb-5">
    <form #addRoleForm="ngForm"
          (ngSubmit)="addRole()"
          autocomplete="off"
          class="mt-5  form-group   row">
      <div class="form-floating col-3">
        <input type="text"
               class="form-control ps-3"
               id="nameInput"
               name='name'
               required
               [(ngModel)]="model.name"
               placeholder="角色名称">
        <label for="nameInput"
               class="ps-2">角色名称</label>
      </div>
      <div class="form-floating col-6">
        <input type="text"
               class="form-control ps-3"
               id="statementInput"
               name='statement'
               [(ngModel)]="model.statement"
               placeholder="备注">
        <label for="statementInput"
               class="ps-2">备注</label>
      </div>
      <div class="form-check mt-2">
        <button [disabled]='!addRoleForm.valid'
                type="submit"
                class="btn btn-success me-3 py-2">增加角色</button>
        <button type="button"
                class="btn btn-default py-2"
                (click)="cancel()">取 消</button>
      </div>
    </form>
  </div>
